.tile {
  width: 61px;
  height: 61px;
  margin: 3px;
}

.card {
  width: 134px;
  height: 43px;
  margin: 0 3px 6px 3px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.score-text {
  color: #f9f6f2;
}

.smaller-text {
  font-size: 26px;
}